* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	text-decoration: none;
	list-style: none;
}

.works-img {
	margin-left: 340px;
	max-width: 300px;
	margin-top: 20px;
}

.works-text-1 {
	color: #C40B08;
	text-align: center;
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.works-text-2 {
	color: #C40B08;
	text-align: center;
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

#works-time {
	color: #C40B08;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px; 
}