@media screen and (max-width: 999px) {
	.trailer-site {
		display: none;
	}

	.foto-home {
		margin-top: 20px;
	}

	.frame {
		height: 165px;
	}

	.frame-text-2 {
		margin-left: 35px;
		margin-top: -23px;
		max-width: 43px;
		height: 43px;
  		border-radius: 60px;
	}

	.link-frame a {
		display: none;
	}

	.download {
		display: block;
	}

	.download-color i {
		color: #fff;
		padding-top: -2px;
		padding-left: 9px;
		font-size: 25px;
	}

	.text {
		margin-top: 140px;
		font-size: 20px;
	}

	.menu-footer {
	  margin-top: 142px;
	}

}