@media screen and (max-width: 768px) {

/*The Need For Speed 1994*/

	 	.nfs-1998:not(:first-child) {
			display: block;
		}

.foto-article {
	width: 60%;
	margin-left: 120px;
}

.article-text {
	text-align: center;
}

/*Need for Speed III: Hot Pursuit (1998)*/

.nfs-description-10 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-11 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-12 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

/*Need for Speed III: Hot Pursuit (1998)*/

/*Need for Speed: High Stakes / Road Challenge (1999)*/

.nfs-description-10 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-11 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-12 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-13 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-14 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-15 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-16 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-17 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

/*Need for Speed: High Stakes / Road Challenge (1999)*/

}