@media screen and (max-width: 768px) {
	.overlay:target+.popup:not(:first-child) {
		display: block;
	}

.overlay:target+.popup {
	top: 3%;
}

.description {
	margin-left: -3px;
	padding: 40px;
	font-size: 19px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    background: #F3943B;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background: #30D040;
}

::-webkit-scrollbar-button {
	background-color: #fff;
	border-radius: 10px;
	font-size: 40px;
	color: #fff;
}

::-webkit-scrollbar-corner {
	font-size: 20px;
	background-color: #000;
}

::-webkit-resizer {
	border-radius: 40px;
	width: 20px;
	background-color: #000;
}

.menu-fixed {
	height: 320px;
}

.menu-fixed li {
	display: block;
}

}