* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	text-decoration: none;
	list-style: none;
}

/*Логотип*/

.frame {
	max-width: 100%;
	height: 60px;
	border: 4px solid #424242;
	background: #0FB2B2;
}

.text-1 {
	color: #fff;
	font-size: 23px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-top: -50px;
}

/*Статьи*/

.nfs-1994 {
	margin-top: 90px;
}

.foto-article-1 {
	width: 20%;
	margin-top: 10px;
	margin-left: 19px;
}

.foto-article-2 {
	width: 20%;
	margin-top: 10px;
	margin-left: 19px;
}

.foto-article-3 {
	width: 20%;
	margin-top: 10px;
	margin-left: 19px;
}

.foto-article-4 {
	width: 20%;
	margin-top: 10px;
	margin-left: 19px;
}

.date-article {
	margin-top: 20px;
	margin-left: 19px;
	color: #2AACC4;
	font-size: 15px;
	font-family: 'Source Code Pro', monospace;
}

.article-text {
	color: #30D040;
	font-family: 'Tinos', serif;
	font-size: 21px;
	margin-left: 19px;
}

.nfs-description-1 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: -250px;
}

.nfs-description-2 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-3 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-4 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-5 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-6 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-1997 {
	margin-top: 160px;
}

.nfs-description-7 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: -157px;
}

.nfs-description-8 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-9 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-1998 {
	margin-top: 160px;
}

.nfs-description-10 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: -165px;
}

.nfs-description-11 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
}

.nfs-description-12 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-1999 {
	margin-top: 160px;
}

.nfs-description-13 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
	margin-top: -190px;
}

.nfs-description-14 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-15 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-16 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

.nfs-description-17 {
	font-family: 'Alegreya SC', serif;
	color: #000;
	font-size: 17px;
	margin-left: 290px;
	margin-top: 10px;
}

/*Статьи*/

/*Подвал сайт*/

.footer-nfs {
	border: 4px solid #424242;
	background: #0FB2B2;
	max-width: 100%;
	height: 60px;
	margin-top: 200px;
}

.footer-text {
	margin-top: 11px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	font-family: 'Playfair Display', serif;
}
/*Подвал сайт*/