@media screen and (max-width: 768px) {

	 /*Forza-Horizon-1*/

		.forza-text-1 {
			text-align: center;
		}

		.date-article {
			text-align: center;
		}

		 .forza-foto-1 {
			width: 85%;
			height: 280px;
			margin-left: 20px;
		}

		.forza-description-1 {
			margin-top: -10px;
			margin-left: 7px;
			padding: 15px;
			font-size: 15px;
		}

		.forza-description-2 {
			margin-top: -29px;
			margin-left: 7px;
			padding: 15px;
			font-size: 15px;
		}

	 /*Forza-Horizon-1*/

	 /*Forza-Horizon-2*/

		.forza-horizon-2 {
			margin-top: 10px;
		}

		.forza-text-2 {
			text-align: center;
		}

		 .forza-foto-2 {
			width: 90%;
			height: 200px;
			margin-left: 13px;
		}

		.forza-description-3 {
			margin-top: -10px;
			margin-left: 7px;
			padding: 15px;
			font-size: 15px;
		}

		.forza-description-4 {
			margin-top: -29px;
			margin-left: 7px;
			padding: 15px;
			font-size: 15px;
		}


	 /*Forza-Horizon-2*/

	 /*Forza-Horizon-3*/

	 	.forza-horizon-3 {
			margin-top: 10px;
		}

		.forza-text-3 {
			text-align: center;
		}

		 .forza-foto-3 {
			width: 90%;
			height: 150px;
			margin-left: 13px;
		}

		.forza-description-5 {
			margin-top: -10px;
			margin-left: 30px;
			padding: 15px;
			font-size: 15px;
		}

		.forza-description-6 {
			margin-top: -25px;
			margin-left: 30px;
			padding: 15px;
			font-size: 15px;
		}

	 /*Forza-Horizon-3*/

	 /*Forza-Horizon-4*/

		.forza-horizon-4 {
			margin-top: 10px;
		}

		.forza-text-4 {
			text-align: center;
		}

		 .forza-foto-4 {
			width: 90%;
			height: 200px;
			margin-left: 13px;
		}

		.forza-description-7 {
			margin-top: -10px;
			margin-left: 20px;
			padding: 15px;
			font-size: 15px;
		}

		.forza-description-8 {
			margin-top: -25px;
			margin-left: 20px;
			padding: 15px;
			font-size: 15px;
		}

	 /*Forza-Horizon-4*/
}