* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	text-decoration: none;
	list-style: none;
}

.the-crew-logo {
	width: 100%;
	height: 72px;
	background: #FFDB16;
}

.the-crew-text {
	text-align: center;
	font-size: 22px;
	font-family: 'Kelly Slab', cursive;
	color: #000;
	padding-top: 20px;
}

.version {
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	margin-top: 60px;
}

.the-crew-2016  {
	margin-top: 100px;
	margin-left: 100px;
}

.thecrew-foto-1 {
	max-width: 450px;
}

.thecrew-foto-1:hover {
  box-shadow: 10px 10px 13px 2px #000;
}

.thecrew-foto-1:active {
  box-shadow: 10px 10px 13px 2px #000;
}

.crew-link-1 {
	margin-top: 200px;
	margin-left: 200px;
}

.the-crew-2018 {
	margin-top: -214px;
	margin-left: 700px;
}

.thecrew-foto-2 {
	max-width: 380px;
}

.thecrew-foto-2:hover {
  box-shadow: 10px 10px 13px 2px #FFDB16;
}

.thecrew-foto-2:active {
  box-shadow: 10px 10px 13px 2px #FFDB16;
}

.site-version-1 {
	margin-top: 338px;
	max-width: 100%;
	height: 60px;
	background: #FFDB16;
}

.site-version-2 {
	color: #000;
	font-size: 20px;
	font-family: 'Kelly Slab', cursive;
	text-align: center;
	padding-top: 20px;
}