@media screen and (max-width: 768px) {

.frame {
	height: 70px;
}

.text-1 {
	font-size: 16px;
}

.overlay:target+.popup {
	top: 3%;
}

.description {
	margin-left: -3px;
	margin: 10px;
	font-size: 20px;
	word-wrap: break-word;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    background: #fff;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background: #0FB2B2;
}

::-webkit-scrollbar-button {
	background-color: #0FB2B2;
	border-radius: 10px;
	font-size: 40px;
	color: #fff;
}

::-webkit-scrollbar-corner {
	font-size: 20px;
	background-color: #000;
}

::-webkit-resizer {
	border-radius: 40px;
	width: 20px;
	background-color: #000;
}

.menu-fixed {
	height: 160px;
}

.menu-fixed li {
	display: block;
}

.footer-text {
	font-size: 20px;
	margin-top: 15px;
}

}