@media screen and (max-width: 768px) {

/*Need for Speed: Porsche Unleashed 2000 */

.foto-article {
	width: 60%;
	margin-left: 120px;
}

.nfs-text-2000 {
	padding: 10px;
}

.date-article {
	text-align: center;
}

.article-text {
	text-align: center;
}

.nfs-description-1 {
	margin-top: 30px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-2 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-3 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-4 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-5 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-6 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-7 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

/*Need for Speed: Porsche Unleashed 2000*/

/*Need for Speed: Hot Pursuit 2 2002*/

.nfs-2002 {
	margin-top: 30px;
}

.foto-article {
	width: 60%;
	margin-left: 120px;
}

.date-article {
	text-align: center;
}

.article-text {
	text-align: center;
}

.nfs-text-2002 {
	padding: 20px;
}

.nfs-description-8 {
	margin-top: 30px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-9 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-10 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-11 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

/*Need for Speed: Underground (2003)*/

.nfs-2003 {
	margin-top: 10px;
}

.foto-article {
	width: 60%;
	margin-left: 120px;
}

.date-article {
	text-align: center;
}

.article-text {
	text-align: center;
}

.nfs-text-2002 {
	padding: 30px;
}

.nfs-description-8 {
	margin-top: 30px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-9 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-10 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-11 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

/*Need for Speed: Underground (2003)*/

/*Need for Speed: Underground 2 (2004)*/

.nfs-2004 {
	margin-top: 30px;
}

.foto-article {
	width: 60%;
	margin-left: 120px;
}

.date-article {
	text-align: center;
}

.article-text {
	text-align: center;
}

.nfs-text-2002 {
	padding: 30px;
}

.nfs-description-8 {
	margin-top: 30px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-9 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-10 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.nfs-description-11 {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

/*Need for Speed: Underground 2 (2004)*/

}